<!-- You have seen how Jinja2 replaces placeholders with actual values during rendering,
 but this is just one of many powerful operations Jinja2 supports in template files. 
 For example, templates also support control statements, given inside {% ... %} blocks.

If the view function forgets to pass a value for the title placeholder variable, 
then instead of showing an empty title the template will provide a default one. -->


<!--The list of posts can have any number of elements, it is up to the view function to decide how many posts are going to be presented in the page. The template cannot make any assumptions about how many posts there are, so it needs to be prepared to render as many posts as the view sends in a generic way. For this type of problem, Jinja2 offers a for control structure. -->

{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ user.username }}!</h1>
    {% for post in posts %}
    <div><p>{{ post.author.username }} says: <b>{{ post.body }}</b></p></div>
    {% endfor %}
{% endblock %}